<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    bootstrap="tests/bootstrap.php"
    >
    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="apc.enable_cli" value="1"/>
    </php>

    <!-- Add any additional test suites you want to run here -->
    <testsuites>
        <testsuite name="app">
            <file>tests/TestCase/Model/Table/RolesTableTest.php</file>
            <file>tests/TestCase/Model/Table/RolesUsersTableTest.php</file>
            <file>tests/TestCase/Model/Table/ReportsTableTest.php</file>
            <file>tests/TestCase/Model/Table/DirectMessagesTableTest.php</file>
            <file>tests/TestCase/Model/Table/DirectViewsTableTest.php</file>
            <file>tests/TestCase/Model/Table/WarningsTableTest.php</file>
            <file>tests/TestCase/Model/Table/ForumsTableTest.php</file>s
            <file>tests/TestCase/Model/Table/SubforumsTableTest.php</file>
            <file>tests/TestCase/Controller/PagesControllerTest.php</file>
            <file>tests/TestCase/Controller/ThreadsControllerTest.php</file>
            <file>tests/TestCase/Controller/PostsControllerTest.php</file>
        </testsuite>
        <!-- Add plugin test suites here. -->
    </testsuites>

    <!-- Setup a listener for fixtures -->
    <listeners>
        <listener
        class="\Cake\TestSuite\Fixture\FixtureInjector">
            <arguments>
                <object class="\Cake\TestSuite\Fixture\FixtureManager" />
            </arguments>
        </listener>
    </listeners>

    <!-- Ignore vendor tests in code coverage reports -->
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
            <directory suffix=".php">plugins/*/src/</directory>
            <exclude>
                <file>src/Console/Installer.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
